<%= form_tag sessions_path, class: 'form-signin' do |form| %>
  <div class='mb-3'><a class='logo' href='/'>eCOMdemo</a></div>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <% if alert.present? %>
    <div class="alert alert-warning" role="alert">
      <%= alert %>
    </div>
  <% end %>
  <%= label_tag :email, 'Email address', class: 'sr-only' %>
  <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
  <%= label_tag :password, 'Password', class: 'sr-only' %>

  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <div class="mt-2 mb-3">
    Need an account? <%= link_to 'Sign Up', signup_path, class: '' %>
  </div>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
<% end %>
