<%= form_tag users_path, class: 'form-signin' do |form| %>
  <div class='mb-4'><a class='logo' href='/'>eCOMdemo</a></div>
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-warning" role="alert">
      <%= message %>
    </div>
  <% end %>
  <%= label_tag :user_email, 'Email address', class: 'sr-only' %>
  <input type="email" id="user_email" name="user[email]" class="form-control" placeholder="Email address" required autofocus>
  <%= label_tag :user_password, 'Password', class: 'sr-only' %>
  <input type="password" id="user_password" name="user[password]" class="form-control" placeholder="Password" required>
  <%= label_tag :user_password_confirmation, 'Password', class: 'sr-only' %>
  <input type="password" id="user_password_confirmation" name="user[password_confirmation]" class="form-control" placeholder="Confirm Password" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Create an account</button>
  <div class="mt-2 mb-3">
    Have an account? <%= link_to 'Log In', login_path %>
  </div>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
<% end %>
