<div class='container'>
  <div class='row'>
    <div class="col-12 text-center">
      <span class='about-title'>About eCOMdemo</span>
    </div>
  </div>
  <div class='row'>
    <div class="col-2"></div>
    <div class="col-8 text-center mb-3">
      <h4><b><i>A responsive e-commerce web application (WIP) for demonstration purposes</i></b></h4>
    </div>
    <div class="col-2"></div>
    <div class="col-md-8">
      <h2>Developer</h2>
      <div class='row'>
        <div class="col-md-5 text-center">
          <%= image_tag 'self.jpg', class: 'self-icon' %>
        </div>
        <div class="col-md-7 d-flex align-items-center">
          <p>
            I've been a <i><b>Ruby on Rails</b></i> developer for over 3 years
            for realtor.com and clippermagazine.com while freelancing a little on the side.
            (Currently, I'm a full-time freelancer available for hire).
          </p>
        </div>
      </div>
      <p>
        The majority of my work experience has been with the back-end using
        Ruby on Rails, PostgreSQL/MySQL, and RSpec/MiniTest.  However I do have
        some work experience with the front-end using AngularJS and Bootsrap as
        well as some experience with AWS deployment.
      </p>
      <p>
        I'm currently learning ReactJS... hence, this demo project.
      </p>

        <p>
          <a href="https://www.khulanimalone.com" target="_blank">www.khulanimalone.com</a>
          <br />
          <i>khulani@gmail.com</i>
        </p>

    </div>
    <div class="col-sm-4 d-none d-sm-none d-md-block text-center mb-3">
      <%= image_tag 'ecomdemo2.png', class: 'demo-img' %>
      <p><i><b>Mobile</b></i></p>
    </div>
  </div>
  <div class='row'>
    <div class="col-sm-8 d-none d-sm-none d-md-block text-center">
      <%= image_tag 'ecomdemo1.png', class: 'demo-img' %>
      <p><i><b>Desktop</b></i></p>
    </div>
    <div class="col-md-4">
      <div class='row'>
        <div class="col-12">
          <h2>Technologies</h2>
          <p>
            <i><b>eCOMdemo</b></i> uses ReactJS, Bootstrap, HTML, CSS for the front-end
            and Ruby on Rails, and MySQL for the back-end. This web app is
            currently in AWS.
          </p>
        </div>
      </div>
      <div class='row'>
        <div class="col-4 text-center technology">
          <%= image_tag 'react.jpg', class: 'technology-icon' %>
        </div>
        <div class="col-4 text-center technology">
          <%= image_tag 'bootstrap.svg', class: 'technology-icon' %>
        </div>
        <div class="col-4 text-center technology">
          <%= image_tag 'rails.png', class: 'technology-icon' %>
        </div>
      </div>
    </div>
  </div>
</div>
