.technology-icon {
  width: 100%;
  max-width: 130px;
}

.technology {
  padding-left: 5px;
  padding-right: 5px;
}

.about-title {
  font-size: 3rem;
  font-weight: bold;
}

.self-icon {
  width: 100%;
  max-width: 300px;
  margin: 15px;
}

.demo-img {
  width: 100%;
  border: 1px solid #dee2e6;
  margin-bottom: 5px;
}
