/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bootstrap';
@import 'navbar';
@import 'about';
@import 'sessions';
@import 'items';
@import 'tagger';
@import 'order';
@import 'user';

.btn {
  border-radius: 0;
}

.btn-bd-download {
  font-weight: 500;
  color: #232f3e;
  border-color: #232f3e;
}

.btn-bd-download:hover {
  font-weight: 500;
  color: #ffe484;
  background-color: #232f3e;
}

.bg-primary {
  background-color: #fff !important;
}

.navbar-light .navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #232f3e;
}

.navbar-light .navbar-nav .nav-link {
  color: #232f3e;
}

.navbar-light .navbar-text {
  color: #232f3e;
}

.categories {
  padding: 10px;
  color: #6c757d;
  border: 1px solid #fff;
}

.categories:hover {
  border: 1px solid #6c757d;
}

.categories-toggle {
  float: right;
  font-weight: 600;
  line-height: 22px;
  font-size: 1.3rem;
  font-family: monospace;
}

.categories[data-toggle="collapse"] .categories-toggle::before {
  content: '+';
}

.categories[aria-expanded="true"] .categories-toggle::before {
  content: '-';
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: .9rem;
  font-weight: 600;
  color: #232f3e;
}

.list-group-item {
  border: none;
  font-size: 0.9rem;
}

.list-group-item.active {
  background-color: #ececec;
  color: #232f3e;
  font-weight: 600;
}

.list-group-item:hover {
  border: none;
  font-size: 0.9rem;
  background-color: #ececec;
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: #232f3e;
}
