// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-card {
  padding-top: 30px;
  padding-right: 5%;
  padding-left: 5%;

  a:hover {
    color: #ff6200;
    text-decoration: none;
  }
}

.item-image-main {
  max-width: 100%;
  max-height: 100%;
}

.item-image-expand {
  width: 100%;
}

.item-image-expand:hover  {
  position: fixed;
  width: 70vw;
  height: 80vh;
  z-index:1;
}

.item-image-form {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 5px;
}

.item-image-add {
  margin-top: 5px;
  line-height: 140px;
  font-size: 3.75rem;
  width: 150px;
  height: 150px;
  border: 1px dashed #232f3e;
  border-radius: 15px
}

.item-image-add:hover {
   cursor: pointer;
}

.item-image-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;

  // border-radius: 10px;
  // -webkit-border-radius: 10px;
  // -moz-border-radius: 10px;
  // border: 1px solid #ffe484;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 14px;
}

.item-image-choice {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 5px;
}

.item-image-choice:focus {
  border: 2px solid #ffe484;
}

.item-image-choices {
  width: 100px;
}

.item-categories {
  color: #555;
  font-size: 0.9rem;
}

.item-show-title {
  font-size: 3rem;
  font-weight: bolder;
  color: #232f3e;
  margin-top: -10px;
  margin-bottom: -10px;
}

.item-seller {
  font-size: 1rem;
  color: #555;
}

.item-price {
  font-size: 1.4rem;
  margin-right: 5px;
}

.item-original-price {
  text-decoration: line-through;
  font-size: 0.9rem;
  color: #555;
}

.item-description {
  color: #555;
  font-size: 0.9rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

.item-distinction {
  font-weight: bold;
}

.item-radio-hidden {
  opacity: 0;
  position: absolute;
}

.form-inline {
  align-items: normal;
}

.item-qty-label {
  font-weight: bold;
}

.item-qty-select {
  display: inline;
  width: auto;
}

// .rounded {
//   border-radius: 10px;
//   -webkit-border-radius: 10px;
//   -moz-border-radius: 10px;
//   border: 1px solid #ebebeb;
//   display: inline-block;
//   overflow: hidden;
//   width: 193px;
//   height: 130px;
//   margin-bottom: 10px;
// }
