.cart-icon {
  float: left;
  background-image: image-url('cart.svg');
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.user-icon {
  float: left;
  background-image: image-url('user.png');
  width: 30px;
  height: 30px;
  background-size: 28px;
  background-position: center;
  background-repeat: no-repeat;
}

.cart-count {
  margin-left: -10px;
  vertical-align: top;
}

.card {
  background-color: transparent;
  border: none;
}

.card-body {
  padding: 0 10px 0 10px;
}

.cart-item-image {
  width: 75px;
  height: 75px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #6c747d;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-menu {
  h3 {
    font-size: 1.5rem;
    margin-top: 5px;
  }

  p {
    color: #848484;
  }

  .close {
    line-height: 1.5rem;
  }
}
