.cart-header {
  background-color: #ececec;
  padding: 10px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 20px;
}

.cart-header.checkout {
  padding-left: 0px;
  font-weight: bold;
  font-style: normal;

}

.cart-item-row {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;

  h3 {
    margin-bottom: 5px;
  }

  h3:hover {
    cursor: pointer;
  }

  p {
    color: #848484;
    font-size: 0.9rem;
  }

  .close {
    line-height: 2.1rem;
  }

  .cart-item-image:hover {
    cursor: pointer;
  }
}

.cart-item-qty {
  padding-left: 8px;
}

.cart-item-price {
  padding-top: 7px;
}
