// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-value {
  padding-right: 5px;
}

.close {
  float: right;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.2;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.tag-list {
  position: absolute;
  border: 1px solid #cdd4d9;
  width: 100%;
}

.tag-suggestion{
  font-size: 0.9rem;
  color: #495057;
  padding: 0.375rem 0.75rem;
  background: #fff;
}

.btn-outline-secondary.tag-label {
  border-radius: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.btn-tag {
  color: #232f3e;
  background-color: transparent;
  border: 1px solid #cdd4d9;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
