.profile {
  padding: 2rem;
  padding-bottom: 10px;
}

.stripe-connect {
  background-image: image-url('stripe_connect.png');
  width: 190px;
  height: 33px;
}

.stripe-disconnect {
  font-size: .9rem;
  color: #d61124;
  text-decoration: underline;
}

.stripe-disconnect:hover {
  color: #ff0019;
  cursor: pointer;
}

.avatar-empty {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #ececec;
}

.avatar-link {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}
.avatar-link:hover {
  cursor: pointer;
}

a.list-group-item {
  color: inherit;
}

.order-uuid:hover {
  cursor: pointer;
  text-decoration: underline;
}

.breadcrumb {
  background-color: inherit;
  margin-bottom: inherit;
}

.breadcrumb-item {
  font-size: 0.9rem;
}

.breadcrumb-item:hover {
  cursor: pointer;
}

.breadcrumb-item.active:hover {
  cursor: inherit;
}

a:not([href]).order-item-cancel {
  color: #8b0000;
}

a:not([href]).order-item-cancel:hover {
  cursor: pointer;
  color: #bb0000;
}
