<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'main' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= redux_store("store") %>
    <%= react_component("NavBar", props: { email: current_user&.email }) %>

    <%= yield %>
  </body>
</html>
