<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="login text-center">
    <%= yield %>
  </body>
</html>
